body {
    color: #fff; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    text-align: center; 
}

#content{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(3, minmax(200px, auto));*/
    grid-auto-rows: minmax(200px, auto);
    max-width: 960px;
    margin: 0 auto; 
    gap: 10px; 
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.two {
    grid-row-start: 1;
    grid-row-end: 3;
}

#content div {
    background: #3bbced; 
    padding: 30px; 
}

#content div:nth-child(even) {
    background: #777; 
}