/* ====== DOCUMENT ====== */

body {
    background-color: #25384D;
    margin: 0px; 
}

.gridwrapper {
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(200px, auto);
    column-gap: 10px;
    z-index: 1;
    background-color: red;

}

.gridwrapper div {
    background-color: black; 
}

.gridwrapper h1 {
    background-color: black;
}

.gridwrapper div:nth-child(even) {
    background-color: rgb(106, 15, 15); 
}

/* ====== SECTION ONE ====== */

.section_one {
    grid-column-start: 3;
    grid-column-end: 13;
    align-items: center;
}


h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: white; 
    font-size: 90px; 
    font-weight: normal; 
}

span {
    font-family: 'inter', sans-serif; 
    color: white; 
    font-size: 18px; 
}

/* ====== NAV BAR ====== */

/*nav {
    height: 100%; 
    position: fixed; 
    background: black;
    grid-column: 1 / 4;
    color: white; 
    margin: 0px; 
    padding: 50px; 
    display: flex; 
    flex-direction: column;
    top: 0px; 
    transition: all 0.3s ease 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
} */


ul {
    list-style: none; 
    font-family: 'Lexend Deca', sans-serif;
    font-size: rem;
}

.red {
    color: red; 
}