@charset "utf-8"; 
 
body {
    font-family: sans-serif;
    margin: 0px; 
    background-color: rgb(0, 0, 0); 
    color: white; 
}

h1 {
    font-size: 4em;
}

div.topnav {
    width: 100%; 
    display: block; 
    overflow: hidden; 
    color: white;
    margin: 0px 80px 0px 0px; 
    padding: 15px;
}

.topnav-right {
    float: right; 
}

ul {
    list-style: none; 
}

li {
    list-style: none; 
    display: inline; 
    padding: 30px; 
}

div.intro{
    text-align: left;
    padding: 100px 0px 0px 150px;
    overflow: hide; 
}

p {
    max-width: 800px; 
    line-height: 1.9em; 
}

video.product {
    z-index: -2;
    width: 100%; 
    margin: 0; 
}