.grid-container {
    display: grid; 
    gap: 20px; 
    grid-template-columns: repeat(3, 1fr);
    margin: 50px; 
    grid-row: auto; 
}   

.grid-item {
    background-color: rgb(89, 112, 168);
    border: black;
    border-width: 5px;
    padding: 10px; 
    height: 25px; 
}

.item-1{
}

.item-2{
    grid-column: 2 / span 2;
}

.item-3 {
    grid-row: 2; 
    grid-column: 1/ span 3;
}
.item-4 {
    grid-row: 3; 
    grid-column: 1/ span 2;
}
.item-4 {
    grid-row: 4; 
    grid-column: 1/ span 2;
}

