@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    background-color: #131316;
    color: #ffffff; 
    font-family: 'poppins', sans-serif; 
    padding: 0; 
    margin: 0; 
}

section {
    display: grid;
    place-items: center; 

} 

.hidden {
    opacity: 0; 
}

.show {
    opacity: 1; 
}